
.fade-enter-active, .fade-leave-active {
    transition: opacity 5s ease-in-out;
    transition-delay: 0.1s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
.wrapper {
    margin: 0 auto;
    max-width: 992px;
    padding: 0 1.5em;
    position: relative;
    top: -50px;
    .masonry {
      column-fill: initial;
      column-gap: 25px;
      .masonry-item {
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;
        margin-bottom: 30px;
        overflow: hidden;
        position: relative;
        vertical-align: top;
        width: 100%;
        &:after {
          border-radius: 8px;
          background: linear-gradient(180deg, transparent 45%, rgb(0, 0, 0) 100%);
          content: '';
          height: 100%;
          left: 0;
          opacity: 1;
          position: absolute;
          pointer-events: none;
          top: 0;
          width: 100%;
          z-index: 1;
        }
        img {
          z-index: 2;
        }
        &:hover {
          .download-img {
            color: #fff;
          }
        }
        &:hover:after {
          background: linear-gradient(180deg, rgba(0,0,0, 0.5) 50%, rgb(0, 0, 0) 100%);
          z-index: 1;
        }
        .download-img {
          color: #000;
          cursor: pointer;
          position: absolute;
          right: 25px;
          top: 25px;
          z-index: 2;
        }
        .photo-details {
          bottom: 40px;
          color: rgba(255,255,255,0.9);
          left: 0;
          padding: 0 25px;
          position: absolute;
          right: 0;
          z-index: 3;
          p, h4 {
            margin: 0;
          }
          h4 {
            margin: 5px 0;
          }
        }
      }
    }
  }
  
  // MEDIA QUERIES //
  @media only screen and (max-width: 1023px) and (min-width: 768px){
    .masonry {
      column-count: 2;
    }
  }
  @media only screen and (min-width: 1024px){
    .masonry {
      column-count: 3;
    }
  }